@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --stone-100: hsl(30, 54%,90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%,34%);
    --stone-900: hsl(24, 5%, 18%);
   
    --brown-800: hsl(14, 45%, 36%);
    --brown-bgr: hsl(29, 11%, 95%); 

    --rose-800: hsl(322, 51%, 32%);
    --rose-50:  hsl(330,100%,98%);

    --white: hsl(0, 0%, 100%);
    --attribution-color: hsl(228, 45%, 44%); 

    --box-content-width: 23.5rem;

    --big-skip: 2rem;
}

* {
    margin: 0rem;
    padding-inline: 0rem;
    text-align: left;


    
}
body {
    font-family: "Outfit" ,Verdana, Geneva, Tahoma, sans-serif;
    color: var(--stone-600);
    font-size: 1rem;
    background-color: var(--stone-100); /* This needs to be stone, even if it does not look like ... stone. */
}

section {
    margin-block-end: var(--big-skip);
}

h1 {
    font-size: 2rem;
    font-family: "Young Serif", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
    margin-block-end: 1.5rem;
    padding-inline: 2rem;
}

h2 {
   font-family: "Young Serif", Verdana, Geneva, Tahoma, sans-serif;
   color: var(--brown-800);
   margin-inline-start: -1rem;
   margin-block-end: 1rem;
}

p {
    line-height: 1.5;
    padding-inline: 2rem;
    
}

a {
    text-decoration: none;
}

ol {
    line-height: 1.5rem;
}

ol li{
    margin-block-end: 0.5rem;
}

ol li span {
    position: relative;
    left: 1rem;
}
ol li::marker{
    font-family: "Outfit" ,Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: var(--brown-800);
}

table {
    border-spacing: 0rem;
    width: 100%;
    margin-inline-start: -1rem;
}

td {
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    padding-block: 1rem;
}

td.value {
    font-weight: bold;
    color: var(--brown-800)
}

td.nutrition-key {
    padding-inline-start: 2rem;
}

section[name="time"]{
    margin: 2rem;
    padding-inline: 3rem;
    padding-block: 1rem;
    line-height: 2rem;
    border-radius: 5px;
    background-color: var(--rose-50);
    text-align: left;
}

section[name="time"] .timetitle {
        color: var(--rose-800);
        font-weight: bold;   
}

section[name="ingredients"]{
    margin: 2rem;
    padding-inline: 1rem;
    line-height: 2rem;
}

section[name="instructions"]{
    margin: 2rem;
    padding-inline: 1rem;
}

section[name="nutrition"]{
    margin: 2rem;
    padding-inline: 1rem;
}

section[name="nutrition"] p {
    line-height: 1.5;
    padding-inline-start: 0rem;
    padding-inline-end: 1rem;
    margin-inline: -1rem
    
}

.recipe-photo{
    width: var(--box-content-width);
}


.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

}

.centered-box {
    width: var(--box-content-width);
    min-height: 100vh;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-sizing: border-box;
}



.seperation-line {
    margin-inline: 2rem;
}


/* Frontend Mentor attribution styles */
.attribution { font-size: 0.6875rem; text-align: center; margin-block-start: 2rem;}
.attribution a { color: var(--attribution-color); }

@media screen and (min-width: 48rem) {

   .centered-box {
      width: 46rem;
      margin-block-start: 8rem;
      border-radius: 10px;
      padding: 1rem;
   }
   .recipe-photo{
      width: 42rem;
      border-radius: 20px;
      padding-inline-start: 1rem;
      padding-block-start: 1rem;
   }

   section[name="time"]{
    margin: 1rem;
    padding-inline: 3rem;
    padding-block: 1rem;
   }

   td.nutrition-key {
    width: 55%;
   }
}
